@import url(font.css);


*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Rubik-Regular';
}

.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}


body{
    background: rgb(237, 228, 228);
}


.header{
    padding: 30px 0;
}

.header__content{
    background: url(../img/Фон.png) rgb(255, 255, 255) no-repeat center/cover;
    border-radius: 14px;
}


.header__content-desc{
    width: 410px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 111px 0 111px 62px;

}

.header__content-title{
    font-family: 'Rubik-Bold';
    font-size: 50px;
    line-height: 60px;
    color: #464748;
    position: relative;
    z-index: 1;
}

.header__content-title::before{
    content: " ";
    width: 100px;
    height: 50px;
    background: #3FA5D5;
    position: absolute;
    z-index: -1;
    top: 30px;
}


.header__content-text{
    text-align: justify;
    color: #696868;
    line-height: 19px;
}


.link{
    background: #3FA5D5;
    color: white;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 7px 62px;
    border-radius: 30px;
    max-width: max-content;
}


.cards__card{
    width: 255px;
    min-height: 338px;
    background: white;
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cards__card-title{
    padding-top: 32px;
    font-size: 20px;
    color: #2A86B1;
    line-height: 24px;
    font-family: 'Rubik-Bold';
}

.card__link{
    margin-bottom: 19px;
}


.cards{
    display: flex;
    justify-content: space-between;
}

.info__box{
    padding: 48px 0 44px;
    display: flex;
    justify-content: space-between;
}

.info__box-left{
    width: 825px;
}


.info__box-title{
    font-family: 'Rubik-Bold';
    font-size: 20px;
    line-height: 24px;
    color: #686868;
    margin-left: 18px;
    padding-bottom: 22px;
}


.info__box-subtitle{
    background: white;
    line-height: 19px;
    text-align: justify;
    padding: 15px;
    border-radius: 8px;
    color: #545454;
    margin-bottom: 15px;
}


.info__box-mini{
    width: 255px;
    background: white;
    border-radius: 8px;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}

.info__box-mix{
    margin-left: 15px;
}

.info__box-miniImg{
    object-fit: contain;
}


.info__box-miniTitle{
    font-size: 17px;
    padding-bottom: 5px;
    color: #323232;
}

.info__box-miniText{
    font-size: 14px;
    line-height: 13px;
    font-family: 'Rubik-Light';
}


.footer{
    background: #3FA5D5;
    color: white;
    padding: 40px 0;
}

.footer__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h5{
    font-family: 'Rubik-Bold';
    font-size: 50px;
    line-height: 60px;
}

.footer__mini-text{
    font-family: 'Rubik-Bold';
    font-size: 18px;
    padding-bottom: 15px;
    line-height: 21px;
    text-align: end;
}


.nav{
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    width: 100px;
    overflow: hidden;

}

.nav:hover{
    width: 235px;
}

.nav__ava{
    width: 70px;
    height: 70px;
    margin-left: 15px;
}

.nav__logo{
    margin-left: 20px;
}


.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    padding: 0 30px;
    width: max-content;
}


.nav__list-link{
    font-size: 18px;
    color: #939393;
    display: flex;
    align-items: center;
    column-gap: 30px;

}

.nav__list-link:hover{
    color: #2A86B1;
}